#counterLabel {
    display: block;
    text-align: center;
    font-size: 10em;
    margin-bottom: 15px;
}

#btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    margin: 10px;
    padding: 10px;
    background-color: rgba(11, 171, 230, 0.603);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: rgba(4, 115, 155, 0.603);;
}